@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  background-color: #ff95b9;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}

.menu {
  position: absolute;
  width: 90px;
  height: 60%;
  left: 70px;
  top: 200px;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(86, 144, 198, 0.11),
    8px 8px 40px rgba(125, 153, 180, 0.2);
  border-radius: 50px;

  display: flex;
  padding: 40px 0;
}
.field {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 10px;
  top: 10px;
  border-radius: 64px;
  background: none;
  align-items: center;
}
.menu .field .messages {
  position: absolute;
  background: url("https://api.iconify.design/ant-design/message-outlined.svg?color=%23ff95b9&width=120")
    no-repeat center center / contain;
  z-index: 2;
  left: 2px;
  top: 0;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  box-shadow: rgba(125, 153, 180, 0.2);
  align-items: center;
}
.menu .field:hover {
  background-color: #ff95b9;
}
.menu .messages:hover {
  background: url("https://api.iconify.design/ant-design/message-outlined.svg?color=white&width=120")
    no-repeat center center / contain;
}
/**/
.field2 {
  position: absolute;
  top: 40%;
  left: 10px;
  background-color: none;
  width: 64px;
  height: 67px;
  align-items: center;
  border-radius: 64px;
}
.menu .field2 .sales {
  position: absolute;
  z-index: 2;
  background: url("https://api.iconify.design/icon-park-outline/bill.svg?color=%23ff95b9&width=120")
    no-repeat center center / contain;
  left: 2px;
  top: 3px;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  box-shadow: rgba(125, 153, 180, 0.2);
  align-items: center;
}
.menu .field2:hover {
  background-color: #ff95b9;
}
.menu .sales:hover {
  background: url("https://api.iconify.design/icon-park-outline/bill.svg?color=white&width=120")
    no-repeat center center / contain;
}

/***/

.field3 {
  position: absolute;
  top: 80%;
  left: 10px;
  background-color: none;
  width: 64px;
  height: 64px;
  align-items: center;
  border-radius: 64px;
}
.menu .field3 .inventory {
  position: absolute;
  z-index: 2;
  background: url("https://api.iconify.design/material-symbols/inventory.svg?color=%23ff95b9&width=120")
    no-repeat center center / contain;
  left: 2px;
  top: 0;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  box-shadow: rgba(125, 153, 180, 0.2);
  align-items: center;
}
.menu .field3:hover {
  background-color: #ff95b9;
}
.menu .inventory:hover {
  background: url("https://api.iconify.design/material-symbols/inventory.svg?color=white&width=120")
    no-repeat center center / contain;
}

/*Fin estilos para todos los dashboards*/

.Panel {
  background-color: #fff;
  position: absolute;
  left: 7%;
  right: 4%;
  top: 7%;
  bottom: 10%;
  z-index: -1;
  box-shadow: 4px 4px 4px rgba(86, 144, 198, 0.11),
    8px 8px 40px rgba(125, 153, 180, 0.2);
  border-radius: 18px;
  height: 92.5%;
}

.Panel .nav {
  position: absolute;
  background-color: #fafafa;
  width: 100%;
  height: 10%;
  box-shadow: 4px 4px 4px rgba(86, 144, 198, 0.11),
    8px 8px 40px rgba(125, 153, 180, 0.2);
  border-radius: 18px;
}

.nav .search {
  position: absolute;
  background: url("https://api.iconify.design/bi/search.svg?color=black&width=48")
    no-repeat center center / contain;
  width: 5%;
  height: 40%;
  top: 30%;
  left: 95%;
  z-index: 2;
}

.nav input {
  position: absolute;
  width: 20%;
  height: 50%;
  left: 75%;
  border-radius: 16px;
  top: 25%;
  border-color: #ff95b9;
}

.nav input::placeholder {
  font-family: "Roboto";
  font-size: 12px;
  color: #ff95b9;
  text-align: center;
}
.nav img {
  position: absolute;
  width: 5%;
  height: 100%;
  left: 45%;
}
.nav h1 {
  position: absolute;
  width: 20%;
  left: 2%;
  top: 7%;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;

  color: #000000;
}

.datosclientes{
position: absolute;
width: 25%;
height: 30%;
left: 10%;
top: 20%;

background: #fff;


box-shadow: 2px 2px 4px rgba(86, 144, 198, 0.11), 6px 6px 30px rgba(125, 153, 180, 0.2);
border-radius: 14px;
}

.datosclientes h1{
    
position: absolute;
font-family: 'Roboto';
top: 5%;
left: 10%;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;

color: #000000;
}

.datosclientes .icon{
    position: absolute;
    background: url("https://api.iconify.design/ant-design/message-outlined.svg?color=%23000&width=120") no-repeat center center/contain;

    width: 20%;
    height: 20%;
    right: 0;
 
}

.datosclientes h2{
position: absolute;
left: 12.86%;
right: 81.18%;
top: 23.48%;
bottom: 67.77%;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;

color: #000000;

}

.datosclientes .line{
position: absolute;
width: 100%;
height: 0px;
left: 0px;
top: 103px;

border: 1px solid #DDDBE2;
}

.datosclientes .stat{
position: absolute;
width: 80%;
height: 5%;
left: 10%;
right: 60%;
top: 70%;
background-color: #C8C0DF;
border-radius: 16px;

}

.stat .actual{
    position: absolute;
width: 75%;
height: 100%;
left: 0%;

top: 0;
background-color: #ff95b9;
border-radius: 16px;

}

.datosclientes img{
position: absolute;
left: 58%;
top: 40%;
background-image: url('../img/Union.png');
}

.datosclientes h3{
 position: absolute;
left: 65.5%;
top: 52%;
font-family: 'Roboto';
font-size: 16px;
}


.datosclientes h4{
position: absolute;
left: 10%;
right: 100%;
top: 80%;
width: 100%;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;



color: #000000;
}




.datostrafico{
    position: absolute;
    width: 25%;
    height: 30%;
    left: 40%;
    top: 20%;
    
    background: #ff95b9;
    
    
    box-shadow: 2px 2px 4px rgba(86, 144, 198, 0.11), 6px 6px 30px rgba(125, 153, 180, 0.2);
    border-radius: 14px;
}
.datosventas{
    position: absolute;
    width: 25%;
    height: 30%;
    left: 70%;
    top: 20%;
    
    background: none;
    
    
    box-shadow: 2px 2px 4px rgba(86, 144, 198, 0.11), 6px 6px 30px rgba(125, 153, 180, 0.2);
    border-radius: 14px;
}

/**********/


.datosventas h1{
    
    position: absolute;
    font-family: 'Roboto';
    top: 5%;
    left: 10%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    
    color: #000000;
    }
    
    .datosventas .icon{
        position: absolute;
        background: url("https://api.iconify.design/ant-design/message-outlined.svg?color=%23000&width=120") no-repeat center center/contain;
    
        width: 20%;
        height: 20%;
        right: 0;
     
    }
    
    .datosventas h2{
    position: absolute;
    left: 12.86%;
    right: 100%;
    top: 23.48%;
    bottom: 67.77%;
    width: 100%;
   
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    
    color: #000000;
    
    }
    
    .datosventas .line{
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 103px;
    
    border: 1px solid #DDDBE2;
    }
    
    .datosventas .stat{
    position: absolute;
    width: 80%;
    height: 5%;
    left: 10%;
    right: 60%;
    top: 70%;
    background-color: #C8C0DF;
    border-radius: 16px;
    
    }
    
   .datosventas .stat .actual{
        position: absolute;
    width: 75%;
    height: 100%;
    left: 0%;
    
    top: 0;
    background-color: #ff95b9;
    border-radius: 16px;
    
    }
    
    .datosventas img{
    position: absolute;
    left: 58%;
    top: 40%;

    }
    
    .datosventas h3{
     position: absolute;
    left: 66%;
    top: 52%;
    font-family: 'Roboto';
    font-size: 16px;
    }
    
    
    .datosventas h4{
    position: absolute;
    left: 10%;
    right: 100%;
    top: 80%;
    width: 100%;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    
    
    color: #000000;
    }
    
    
    
    
    .datostrafico{
        position: absolute;
        width: 25%;
        height: 30%;
        left: 40%;
        top: 20%;
        
        background: #ff95b9;
        
        
        box-shadow: 2px 2px 4px rgba(86, 144, 198, 0.11), 6px 6px 30px rgba(125, 153, 180, 0.2);
        border-radius: 14px;
    }
    .datosventas{
        position: absolute;
        width: 25%;
        height: 30%;
        left: 70%;
        top: 20%;
        
        background: #ff95b9;
        
        
        box-shadow: 2px 2px 4px rgba(86, 144, 198, 0.11), 6px 6px 30px rgba(125, 153, 180, 0.2);
        border-radius: 14px;
    }



    /**************************************/

    
.datostrafico h1{
    
    position: absolute;
    font-family: 'Roboto';
    top: 5%;
    left: 10%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    
    color: #000000;
    }
    
    .datostrafico .icon{
        position: absolute;
        background: url("https://api.iconify.design/ant-design/message-outlined.svg?color=%23000&width=120") no-repeat center center/contain;
    
        width: 20%;
        height: 20%;
        right: 0;
     
    }
    
    .datostrafico h2{
    position: absolute;
    left: 12.86%;
    right: 81.18%;
    top: 23.48%;
    bottom: 67.77%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    
    color: #000000;
    
    }
    
    .datostrafico .line{
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 103px;
    
    border: 1px solid #DDDBE2;
    }
    
    .datostrafico .stat{
    position: absolute;
    width: 80%;
    height: 5%;
    left: 10%;
    right: 60%;
    top: 70%;
    background-color: #C8C0DF;
    border-radius: 16px;
    
    }
    
   .datostrafico .stat .actual{
        position: absolute;
    width: 75%;
    height: 100%;
    left: 0%;
    
    top: 0;
    background-color: #ff95b9;
    border-radius: 16px;
    
    }
    
    .datostrafico img{
    position: absolute;
    left: 58%;
    top: 40%;
    background-image: url('../img/Union.png');
    }
    
    .datostrafico h3{
     position: absolute;
    left: 66%;
    top: 52%;
    font-family: 'Roboto';
    font-size: 16px;
    }
    
    
    .datostrafico h4{
    position: absolute;
    left: 10%;
    right: 100%;
    top: 80%;
    width: 100%;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    
    
    color: #000000;
    }
    
    
    
    
    .datostrafico{
        position: absolute;
        width: 25%;
        height: 30%;
        left: 40%;
        top: 20%;
        
        background: #ff95b9;
        
        
        box-shadow: 2px 2px 4px rgba(86, 144, 198, 0.11), 6px 6px 30px rgba(125, 153, 180, 0.2);
        border-radius: 14px;
    }
    .datosventas{
        position: absolute;
        width: 25%;
        height: 30%;
        left: 70%;
        top: 20%;
        
        background: #ff95b9;
        
        
        box-shadow: 2px 2px 4px rgba(86, 144, 198, 0.11), 6px 6px 30px rgba(125, 153, 180, 0.2);
        border-radius: 14px;
    }



    /***************/

.datostrafico .porcentajes{
    width: 120px;
    height: 100px;
    right: 0;
    top: 15%;

}

.datostrafico h3{
position: absolute;
left: 10%;
right: 0;
top: 60%;
bottom: 60.11%;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;



color: #000000;
}

.datostrafico h4{
    position: absolute;
    left: 10%;
    right: 0;
    top: 70%;
    bottom: 60.11%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    
    
    
    color: #000000;
    }


    .Panel .grafico{
        position: absolute;
        background-image: url('../img/Grafica.jpg') no-repeat;
        left: 15%;
        right: 10%;
        width: 80%;
        height: 40%;
        top: 52%;

    }