.fondotrapecio {
    background-image: url('../img/trapecio-lila.jpg.png');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detallescontenedor {
    width: 80%;
}

.imagenproducto img {
    height: 100%;
    width: 40rem;
    padding: 5rem;
    margin: 0 auto;
}

.star-rate {
    display: flex;
    gap: 2rem;
    align-items: baseline;
    justify-content: space-between;
}

.star-rate p {
    font-size: 2rem;
    font-weight: bold;
}

.star-rate__logos {
    display: flex;
}

.flexdatos {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.flexdatos h2 {
    text-align: center;
}

.textdatos {
    font-size: 2rem;
}

.price>span {
    color: #ff0000;
    font-size: 1.5rem;
}

#cantidad {
    width: 8rem;
}

.flexdatos button {
    width: 20rem;
    color: #fff;
    background-color: #1D2223;
    height: 5rem;
    box-shadow: 0.2rem 0.2rem #c8c1c1;
}

.flexdatos button:hover {
    cursor: pointer;
}

.descripcionesproducto {
    width: 95%;
    margin: 0 auto;
}

.descripcionesproducto__texto {
    text-align: justify;
    margin-left: 2rem;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.descripcionesproducto__bordes {
    text-align: justify;
    margin-left: 2rem;
    border: 0.1rem solid #ccc;
    padding: 0.5rem;
}

/*medias querys*/

@media (max-width: 1000px) {
    .star-rate p {
        text-align: right;
    }
}

@media(max-width: 800px) {

    .star-rate {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }

}

@media (max-width: 500px) {

    .imagenproducto img {
        height: 50rem;
        width: 50rem;
    }

    .star-rate {
        align-items: center;
        justify-content: center;
    }

    .fondotrapecio {
        display: flex;
        background-image: none;
        flex-direction: column;
        align-items: center;
    }

    .flexdatos {
        margin: 0 auto;
        align-items: center;
    }

    .descripcionesproducto__texto{
        margin: 0;
        padding:0 0.5rem;
    }

    .descripcionesproducto__bordes{
        margin: 0;
        padding:0 0.5rem;
    }

}

@media (max-width: 450px) {
    .imagenproducto img {
        height: 40rem;
        width: 50rem;
    }

    .flexdatos {
        flex-direction: column;
        gap: 1rem;
        width: 100%;

    }

    .flexdatos button {
        width: 100%;
    }
}


/*carousel productos*/

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 2.5rem);
    right: 0;
    opacity: 1;
    font-size: 3rem;
    z-index: 1;
}

.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 2.5rem);
    left: 0;
    opacity: 1;
    font-size: 3rem;
    z-index: 1;
}