   *{
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .Login {
    width: 100%;
    height: 1024px;
    background: #8572B6;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .Navbar {
    width: 100%;
    height: 120px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 2px;
    overflow: hidden;
  }

  /*navbar*/
  .nav1 {
    width: 100%;
    height: 120px;
    background: url("../images/v118_1797.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  /*navbar user*/
  .Login-box {
    width: 30px;
    height: 30px;
    background: url('https://api.iconify.design/bxs/user-circle.svg?width=28&height=28') no-repeat center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 54px;
    left: 1094px;
    overflow: hidden;
  }
  
  /*icon user*/
  .login-icon {
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,0);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .Box-cart {
    width: 30px;
    height: 30px;
    background: url("../images/v118_1800.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 1215px;
    overflow: hidden;
  }
  /**/
  .Cart-icon {
    width: 29px;
    height: 29px;
    background: url('https://api.iconify.design/fa/cart-arrow-down.svg?width=28&height=28') no-repeat center ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }

  /*incon Search*/
  .Search-icon {
    width: 31px;
    height: 31px;
    background: url('https://api.iconify.design/bx/search-alt-2.svg?width=28&height=28') no-repeat center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 1378px;
    overflow: hidden;
  }
  .Search-bar {
    width: 116px;
    height: 27px;
    background: url("../images/v118_1803.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 57px;
    left: 1254px;
    border: 3px solid rgba(0,0,0,1);
    overflow: hidden;
  }
  .Facebook-icon {
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 51px;
    left: 24px;
    overflow: hidden;
  }
  .F1 {
    width: 28px;
    height: 28px;
    background: url('https://api.iconify.design/bi/facebook.svg?width=25&height=25') no-repeat center center ;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .F2 {
    width: 25px;
    height: 24px;
    background: rgba(0,0,0,0);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
  }
  /*Icono de instragram*/
  .Instagram-icon {
    width: 30px;
    height: 30px;
    background: url('https://api.iconify.design/ant-design/instagram-filled.svg') no-repeat center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 51px;
    left: 84px;
    overflow: hidden;
  }
  .Whatsaap-icon{
    width: 30px;
    height: 30px;
    background: url('https://api.iconify.design/dashicons/whatsapp.svg?width=28&height=28') no-repeat center center ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 51px;
    left: 144px;
    overflow: hidden;
  }
  .Contact-num {
    width: 180px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 55px;
    left: 186px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }

/*icon heart*/
  .favorite-icon {
    width: 30px;
    height: 30px;
    background: url('https://api.iconify.design/ri/hearts-line.svg?width=28&height=28') no-repeat center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 1149px;
    overflow: hidden;
  }
    /*icon center logo*/
  .Logo {
    width: 100px;
    height: 100px;
    background: url("/img/Logo.png") no-repeat center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 672px;
  }
  .user-login-icon {
    width: 100px;
    height: 100px;
    background: rgba(133,114,182,1);
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 2px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .Form {
    width: 390px;
    height: 802px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 175px;
    left: 70px;
    overflow: hidden;
  }
/*Circle*/
  .circle-design {
    width: 445px;
    height: 406px;
    background: rgba(255,198,0,1);
    opacity: 0.2;
    position: absolute;
    top: -207px;
    left: -21px;
    border-radius: 50%;
  }
  .circle-design-2 {
    width: 342px;
    height: 342px;
    background: rgba(255,198,0,1);
    opacity: 0.2;
    position: absolute;
    top: -175px;
    left: 207px;
    border-radius: 50%;
  }

  /*input text correo*/
  .Email-section {
    width: 328px;
    height: 48px;
    background: url("../images/v118_1898.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 368px;
    left: 24px;
    border: 0.6px solid rgba(108,106,106,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  /*imput text contraseña*/
  .Password-section {
    width: 328px;
    height: 48px;
    background: url("../images/v118_1899.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 449px;
    left: 24px;
    border: 0.6000000238418579px solid rgba(108,106,106,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }

  /*Telefono*/
  .Number-phone-section {
    width: 328px;
    height: 48px;
    background: url("../images/v118_1900.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 517px;
    left: 27px;
    border: 0.6000000238418579px solid rgba(108,106,106,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .Register-section {
    width: 328px;
    height: 48px;
    background: rgba(255,149,185,1);
    opacity: 1;
    position: absolute;
    top: 715px;
    left: 31px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .Name-section {
    width: 114px;
    height: 48px;
    background: url("../images/v118_1902.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 281px;
    left: 23px;
    border: 0.6px solid rgba(108,106,106,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .Email-placeholder {
    width: 47px;
    color: rgba(109,105,105,1);
    position: absolute;
    top: 382px;
    left: 41px;
    font-family: Outfit;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .Password-placeholder {
    width: 79px;
    color: rgba(109,105,105,1);
    position: absolute;
    top: 463px;
    left: 41px;
    font-family: Outfit;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .Phone-Placeholder {
    width: 132px;
    color: rgba(109,105,105,1);
    position: absolute;
    top: 531px;
    left: 36px;
    font-family: Outfit;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .Name-Placeholder {
    width: 61px;
    color: rgba(109,105,105,1);
    position: absolute;
    top: 295px;
    left: 32px;
    font-family: Outfit;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .Register-Placeholder {
    width: 109px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 727px;
    left: 139px;
    font-family: Outfit;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .Title-Form {
    width: 159px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 56px;
    left: 23px;
    font-family: Outfit;
    font-weight: SemiBold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  /*Elite Store*/
  .Name-company-gold {
    width: 223px;
    color: #FFC600;
    font-family: "Dancing Script";
    position: absolute;
    top: 190px;
    left: 90px;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }
  .Name-company-black {
    width: 223px;
    color: #000000;
    font-family: "Dancing Script";
    position: absolute;
    top: 190px;
    left: 200px;
    font-size: 60px;
    opacity: 1;
    text-align: left;
  }

  .name {
    color: #fff;
  }
  .Surname-Box {
    width: 207px;
    height: 48px;
    background: url("../images/v118_1911.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 281px;
    left: 145px;
    border: 0.6000000238418579px solid rgba(108,106,106,1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
  }
  .Surname-placeholder {
    width: 61px;
    color: rgba(109,106,106,1);
    position: absolute;
    top: 295px;
    left: 158px;
    font-family: Outfit;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .View-Password-icon {
    width: 24px;
    height: 11px;
    background: url('https://api.iconify.design/akar-icons/eye-closed.svg?width=28&height=28') no-repeat center;
    opacity: 1;
    position: absolute;
    top: 467px;
    left: 315px;
  }
  /*Validaciones contraseña*/
  .Validations {
    width: 400px;
    height: 120px;
    background: url("/img/Group\ 4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 580px;
    left: 8px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .Answer-account{
    width: 285px;
    color: rgba(29,53,87,1);
    position: absolute;
    top: 261px;
    left: 28px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  .Login-alternative {
    width: 111px;
    height: 42px;
    background: url("../images/v118_2037.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10px 10px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 250px;
    left: 249px;
    overflow: hidden;
  }
  .Text-login {
    width: 91px;
    color: rgba(67,31,212,1);
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Open Sans;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: center;
  }
  /*Banner*/
  .Banner {
    width: 614px;
    height: 904px;
    background: url("/img/banner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 120px;
    left: 905px;
    overflow: hidden;
  }