h1{
    text-align: center;
}

.borde{
    width: 100%;
    border-top: #9ebd9e 0.1rem solid;
}

.favorito__item{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    border-bottom: #9ebd9e 0.1rem solid;
    height: 25rem;
}

.favorito__item__img img{
    width: 18rem;
    height: 20rem;
    margin: 0 auto;
}

.favorito__item__text{
    
}

.favorito__item__boton__carrito p{
    color: #ff9900;
    text-align: right;
}

.favorito__item__boton__carrito button{
    background-color: #FF95B9;
    color: white;
    border-style: none;
    padding: 1rem;
    border-radius: 0.5rem;
}

.favorito__item__boton__carrito button:hover{
    cursor: pointer;
}

.favorito__item__boton__borrar button{
    background-color: white;
    color: red;
    border-style: none;
}

.favorito__item__boton__borrar button:hover{
    cursor: pointer;
}
.borrartrash{
    display: none;
}

/*Media Querys*/
@media (max-width: 1200px) {
    .favorito__item__img img{
        width: 20rem;
        height: 15rem;
    }
}
@media (max-width: 720px) {	
    .favorito__item__img img{
        width: 40rem;
        height: 15rem;
    }
}

@media (max-width: 450px) {
	.favorito__item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        margin-top: 1rem;
    }

    .favorito__item__boton__carrito{
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
    }

    .favorito__item__boton__carrito p{
        display: none;
    }

    .borrarx{
        display: none;
    }

    .favorito__item__boton__borrar{
        display: flex;
        justify-content: center;
    }

    .borrartrash{
        display: block;
    }
}