/*Carrousel*/
html a {
    text-decoration: none;
    color: black;
}

.carrousel {
    width: 100%;
    position: relative;
    height: 35rem;
}

.carrousel img {
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
}

.botonescarrousel {
    font-size: 10rem;
    width: 5rem;
    height: 10rem;
    line-height: 7rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    position: absolute;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.botonescarrousel:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.previous {
    left: 1%;
    top: 35%;
}

.next {
    right: 2%;
    top: 35%;
}


/*Header*/

.icon {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0;
}

.icon i {
    color: black;
}

.icon img {
    width: 10rem;
}

.navflex {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.inputborder {
    border: 0.3rem solid black;
}

.menugrid {
    display: grid;
    grid-template-columns: 1fr;

}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.menuicon {
    margin-left: 4rem;
}

.menu a {
    color: #000;
}

.menuicon i {
    color: black;
}

/*footer*/

.foot {
    background-color: #000;
    margin-top: 5rem;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.foot a {
    color: #fff;
    text-decoration: none;
}

.direccion {
    text-align: justify;
    padding: 2rem 5rem;
    margin: 0 auto;
}

.direccion img {
    width: 15rem;
}

.enlacesfoot {
    list-style: none;
    padding: 2rem 5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.enlacesfoot__pages {
    display: flex;
    gap: 5rem;
    justify-content: right;
}

.enlacesfoot__use {
    display: flex;
    align-items: center;
    text-decoration: underline;
    justify-content: flex-end;
    gap: 2rem;
}

.copyright {
    text-align: right;
    margin-right: 5rem;
}

.telefono {}

.hamburger-menu{
    display: none;
}

@media (max-width: 1200px) {

    .telefono {
        display: none;
    }

    .enlacesfoot {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@media (max-width: 770px) {


    .hamburger-menu {
        display: block;
        z-index: 1;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked+.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked+.menu__btn>span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu__toggle:checked+.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        left: 0 !important;
    }

    .menu__btn {
        position: absolute;
        right: 4rem;
        top: 10%;
        width: 3rem;
        height: 5rem;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    .inputlogo{
        display: flex;
        justify-content: center;
    }

    .inputlogo input{
        border-style: none;
        height: 3rem;
        width: 20rem;
    }

    .inputlogo a{
        height: 3rem;
    }

    /**/
    .navflex {
        display: none;
    }


    .next {
        right: 2.5%;
        top: 35%;
    }

    .enlacesfoot {

        padding-left: 0;
        padding-right: 0;
    }

    .enlacesfoot__pages {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        padding: auto 0;
        justify-content: start;
    }

    .enlacesfoot__use {
        margin-top: 2rem;
        justify-content: space-evenly;
    }

    .copyright {
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 450px) {
    .next {
        right: 4.8%;
        top: 35%;
    }

    .navflex {
        display: none;
    }

    .foot {
        display: flex;
        flex-direction: column;
    }

    .enlacesfoot {
        padding: 0 0;
    }

    .enlacesfoot__pages {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .enlacesfoot__use {
        margin: 3rem auto;
        text-align: center;
    }

    .copyright {
        text-align: center;
        margin: 0 auto;
    }
}