/*productos*/

.contenedor-productos {
  margin-top: 2rem;
}


.producto {
  text-align: left;
  padding: 1rem;
  border: 0.1rem solid orange;
  border-radius: 0.5rem;
  margin: 0 4rem;
}


.producto:hover {
  transform: scale(0.95);
  transition: all 0.8s;
  box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.75);
}

.producto img {
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
}

.price {
  font-size: 2rem;
  font-weight: bold;
}

.descripcion {
  color: #787885;
}

.calificacion {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
}

.calificacion button {
  border: 0.1rem solid #9dc2ff;
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
  color: #2979ff;
  background-color: #fff;
}

.category {
  color: #5e6366;
}


/*Modal compra*/

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
  border-radius: 1rem;
  z-index: 2;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 40rem;
  max-width: 80%;
  height: 35rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.modal {
  text-align: center;
}

.modal p{
  font-size: 2rem;
  font-weight: bold;
  padding: 0 0.5rem;
 
}

.modal button{
  border-radius: 0.5rem;
  background-color: #FF95B9;
  border-style: none;
  font-weight: bold;
  width: 12rem;
  padding: 0.5rem 0;
}

.modal button:hover{
  cursor: pointer;
}

.modalencabezado{
  height: 10rem;
  background-color: #FF95B9;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.modal span{
  font-size: 3.5rem;
}

/* Modal is closed at lose target*/
.modal-exit:link, .modal-exit:active, .modal-exit:visited, .modal-exit:hover {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.7rem;
  text-decoration: none;
  color: #F92A2A; 
}


/*carousel productos*/

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 2.5rem);
  right: 0;
  opacity: 1;
  font-size: 3rem;
  z-index: 1;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 2.5rem);
  left: 0;
  opacity: 1;
  font-size: 3rem;
  z-index: 1;
}

#reloj {
  margin:  0 auto;
  font-size: 2rem;
  font-weight: bold;
  background-color: #FF95B9;
  border-radius: 1rem;
  width: 18rem;
  color: black;
  margin: 0 auto;
  max-width: 100%;
}