
/*productos*/

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 4fr));
  gap: 3rem;
}

.producto {
  text-align: left;
  padding: 1rem;
}

.producto:hover {
  transform: scale(0.95);
  transition: all 0.8s;
  box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.75);
}

.producto img {
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
}

.price {
  font-size: 2rem;
  font-weight: bold;
}

.descripcion {
  color: #787885;
}

.calificacion {
  display: flex;
  margin: 2rem 0;
  justify-content: space-between;
}

.calificacion button {
  border: 0.1rem solid #9dc2ff;
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
  color: #2979ff;
  background-color: #fff;
}

.category {
  color: #5e6366;
}
