.modal-container-llamada {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 10%;
    left: 30%;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.modal-container-llamada i{
    color: #000000;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modalbuttonllamada {
    background-color: #fff;
    width: 40rem;
    max-width: 100%;
    height: 50rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);

}

.modalbuttonllamada {
    text-align: center;
}

/*modalbanner*/

.modalbanner {
    background-color: #ef70c1;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
}

.modalbanner img {
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
}

.modalbanner button {
    background-color: #ef70c1;
    border-style: none;
    color: #000000;
}

/*boton flotante*/
.flotante {
    position: fixed;
    bottom: 6rem;
    right: 4rem;
    z-index: 1;
    width: 5rem;
    height: 5rem;
}

.flotante i {
    color: black;
}

.flotante button {
    width: 100%;
    height: 100%;
    background-color: #ef70c1;
    border: 0.1rem solid #ef70c1;
    border-radius: 3rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

.flotante button:hover {
    cursor: pointer;
}

.llamadauser {
    margin: 2rem 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.llamadauser label {
    height: 3rem;
    width: 25rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #ef70c1;
    border-style: none;
}

.video {
    width: 100%;
    height: 25rem;
}

#cerrarllamada,#capturar {
    display: none;
    margin: 0 auto;
    width: 60%;
    background-color: #ef70c1;
    border-style: none;
}

#capturar:hover , #cerrarllamada:hover {
    cursor: pointer;
}

.video video {
    width: 30rem;
    height: 18rem;
    margin: 0 auto;
}

.bordervideo button {
    margin: 0 auto;
}

.botonesllamada {
    display: flex;
    justify-content: space-evenly;
}

.btnllamada {
    border-style: none;
    border-radius: 5rem;
    height: 3rem;
    width: 3rem;
}

.btnllamada:hover {
    cursor: pointer;
}

.btnfin {
    border-style: none;
    border-radius: 5rem;
    height: 3rem;
    width: 3rem;
}

.entrada {
    border-style: 0.1rem solid #ef70c1;
}

.btnfin:hover {
    cursor: pointer;
}

#closellamada:hover {
    cursor: pointer;
}


@media (max-width: 1000px) {
    .modal-container-llamada {
        left: 17%;
    }
}

@media (max-width: 700px) {
    .modal-container-llamada {
        left: 15%;
    }

}


@media (max-width: 600px) {
    .modal-container-llamada {
        left: 10%;
    }

}

@media (max-width: 500px) {
    .modal-container-llamada {
        left: 1%;
    }

}



@media (max-width: 420px) {
    .modalbuttonllamada {
        width: 30rem;
    }

    .modal-container-llamada {
        left: 0%;
    }

    .video video {
        width: 24rem !important;
    }

    .video {
        margin: 0 auto;
    }

    #cerrarllamada{
        width: 80%;
    }

    .video video {
        width: 20rem;
        height: 18rem;
        margin: 0 auto;
    }
}