.video {
    width: 50%;
    height: 50rem;
}

.video video {
    width: 100%;
    height: 40rem;
}


#botones {
    width: 40rem;
    float: left;
    width: 13.5rem;
    height: 2rem;
    padding-left: 0.5rem;
}

#barra {
    float: left;
    width: 72rem;
    height: 10px;
    padding: 2px;
    margin: 2px 5px;
    border: 1px solid #ccc;
    background: #eee;
}

#progreso {
    background: rgba(0, 0, 150, 0.2);
    width: 0rem;
    height: 0.16rem;
}

.clear {
    clear: both;
}

.contenedor-nosotros-texto{
    height: 80rem;
}

/*Modal boton*/

