.paymentcontenedor{
    background-image: url('../img/trapecio-lila.jpg.png');
    background-repeat: no-repeat;
    background-size: 30% 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.fondo{
    margin-top: 4rem;
}

.fondo img{
   margin: 0 auto;
}

.fondo h2{
    font-style: italic;
    text-align: center;
}


.tabpanelcontenedor{
    width: 80%;
    margin: 0 auto;
}

.tabpanel{
   display: flex;
   gap: 3rem;
}

.tabpanel img{
    width: 6rem;
    height: 5rem;
    cursor: pointer;
}

.content{
    margin-top: 2rem;
}

[data-content] {
	display: none;
}

.active[data-content] {
	display: block;
}

/*formulario*/

.formulariopago{
   display: grid;
   grid-template-columns: 1fr;
   gap: 1.5rem;
   width: 50%;
}

.formulariopago input{
    height: 4rem;
    padding: 1rem;
    border: 0.2rem solid #000;
    border-radius: 0.8rem;
    
}

.formulariopago label{
    font-weight: bold;
}

.cvvfecha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:  5rem;
}


.botonespayment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.botonespayment button{
    width: 20rem;
	height: 4rem;
    border-style: none;
    background-color:  #FF95B9;
    font-weight: bold;
    border-radius: 0.8rem;
}

.botonespayment button:hover{
    cursor: pointer;
}

.foot{
    margin-top: 0;
}


/*medias querys*/
@media  (max-width: 840px){

    .fondo{
        display: none;
    }


    h1{
        font-size: 2rem;
        text-align: left;
    }

    .paymentcontenedor{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .tabpanelcontenedor{
        margin: 0 auto;
    }

    .tabpanel{
        justify-content: space-evenly;
    }

    .formulariopago{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .botonespayment{
        gap: 1rem;
        width: 100%;
    }

    .cvvfecha input{
        width: 100%;
        gap: 1rem;
    }
    
}

@media (max-width: 640px) {

    h1{
        text-align: center;
    }
    .tabpanelcontenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulariopago{
        width: 90%;
    }
}

@media (max-width: 450px) {

    .formulariopago{
        width: 100%;
    }

    .paymentcontenedor{
        background-size: 50% 100%;
    }

    .tabpanel{
        justify-content: space-evenly;
      
    }

    

    .cvvfecha{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .fecha{
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .botonespayment{
        gap: 1rem;
    }
    
    h1{
        font-size: 1.5rem;
        text-align: center;
    }

 
}