.paymentcontenedor{
    background-image: url('../img/trapecio-lila.jpg.png');
    background-repeat: no-repeat;
    background-size: 30% 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.fondo{
    margin-top: 4rem;
}

.fondo img{
   margin: 0 auto;
}

.fondo h2{
    font-style: italic;
    text-align: center;
}


.tabpanelcontenedor{
    width: 80%;
    margin: 0 auto;
}

.tabpanel{
   display: flex;
   gap: 3rem;
}

.tabpanel img{
    width: 6rem;
    height: 5rem;
    cursor: pointer;
}

.content{
    margin-top: 2rem;
}

[data-content] {
	display: none;
}

.active[data-content] {
	display: block;
}

/*formulario*/

.formulariopago{
   display: grid;
   grid-template-columns: 1fr;
   gap: 1.5rem;
   width: 50%;
}

.formulariopago input{
    height: 4rem;
    padding: 1rem;
    border: 0.2rem solid #000;
    border-radius: 0.8rem;
    
}

.formulariopago label{
    font-weight: bold;
}

.cvvfecha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:  5rem;
}


.botonespayment{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.botonespayment button{
    width: 20rem;
	height: 4rem;
    border-style: none;
    background-color:  #FF95B9;
    font-weight: bold;
    border-radius: 0.8rem;
}

.botonespayment button:hover{
    cursor: pointer;
}

.foot{
    margin-top: 0;
}


/*Modal compra*/

.modal-container {
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
	position: fixed;
	pointer-events: none;
	opacity: 0;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: opacity 0.3s ease;
}

.show {
	pointer-events: auto;
	opacity: 1;
}

.modal {
	background-color: #fff;
	width: 30rem;
	max-width: 100%;
	height: 35rem;
	padding: 3rem 5rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
	
}

.modal{
    text-align: center;
}

.modal h1{
    color: #7C8691;
    font-size: 3rem;
    font-weight: bold;
}

.modal img{
    width: 10rem;
    margin: 0 auto;
}

.modal button{
    background-color: #13C39C;
    color: white;
    border-style: none;
    width: 20rem;
    padding: 1rem;
}
.modal button:hover{
    cursor: pointer;
}


.modalfail{
    background-color: #fff;
	width: 50rem;
	height: 37rem;
    max-width: 80%;
	padding: 3rem 5rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modalfail h1{
    color: #7C8691;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}


.modalfail img{
    width: 10rem;
    margin: 0 auto;
}

.buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.cancel{
    background-color: #C4C4C4;
    color: white;
    border-style: none;
    padding: 0.5rem;
    width: 10rem;
}

.buttons.cancel:hover{
    cursor: pointer;
}

.try{
    background-color: #FB4B4B;
    color: white;
    border-style: none;
    padding: 0.5rem;
    width: 10rem;
}

.buttons.try:hover{
    cursor: pointer;
}

/*medias querys*/
@media  (max-width: 840px){

    .fondo{
        display: none;
    }


    h1{
        font-size: 2rem;
        text-align: left;
    }

    .paymentcontenedor{
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .tabpanelcontenedor{
        margin: 0 auto;
    }

    .tabpanel{
        justify-content: space-evenly;
    }

    .formulariopago{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .botonespayment{
        gap: 1rem;
        width: 100%;
    }

    .cvvfecha input{
        width: 100%;
        gap: 1rem;
    }
    
}

@media (max-width: 640px) {

    h1{
        text-align: center;
    }
    .tabpanelcontenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .formulariopago{
        width: 90%;
    }
}

@media (max-width: 450px) {

    .modalfail h1 {
        font-size: 1.8rem;
    }

    .modalfail h3{
        font-size: 1.5rem;
    }

    .buttons{
        flex-direction: column;
        align-items: center;
    }

    .formulariopago{
        width: 100%;
    }

    .paymentcontenedor{
        background-size: 50% 100%;
    }

    .tabpanel{
        justify-content: space-evenly;
      
    }

    

    .cvvfecha{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .fecha{
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .botonespayment{
        gap: 1rem;
    }
    
    h1{
        font-size: 1.5rem;
        text-align: center;
    }

 
}