.fondo{
  background-color: #E38352;
  background-image: url('../img/fondologin.png');
  background-repeat: no-repeat;
  background-size: 98% 95%;
  background-position: center center;
  height: 87vh;
  display: flex;
  align-items: center;
}

.form-section{
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  height: 80%;
  padding: 5rem;
}


.foot{
  margin-top: 0rem;
}